{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container create">
  
    <div class="row">
        <div class="order-info">
            <h1>Checkout</h1>
            <h3>Your order</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>${{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="total">Total: ${{ cart.get_total_price }}</p>
        </div>
        
    <form action="." method="POST" class="order-form">
        <div class="form-group">
        {{ form.as_p}}
        <p><input class="btn-add" type="submit" value="Order"></p>
        {% csrf_token %}
    </div>
    </form>
   
  
</div>
</div>
{% endblock %}